.ltm-info-textbox {
  font-size: 18px;
  background-color: #E1E1E1;
  margin: 15px 0px 15px 0px;
  padding: 10px 10px;
  border-style: solid;
  border-weight: 1px;
  border-color: grey;
  border-radius: 5px;
  
}
.ltm-section-margin {
  height: 15px;
}
.ltm-hidden-label {
  display: none;
}

/* Hide increment arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ltm-card-inner-spacer {
  margin-top: 15px;
}

.ltm-btn {
  max-width: 200px;
}
.ltm-deleteme {
  color: red;
}
